In [ ]:
# 제어문 & 반복문

In [11]:
x = int(input("숫자를 입력하세요.."))

if x >= 90:
    print("Pass")

숫자를 입력하세요.. 90

Pass

In [ ]:
##단일 조건 외 그 외 조건에 따른 분기

In [10]:
x = int(input("숫자를 입력하세요.."))

if x >= 90:
    print("Pass")
else:
    print("Fail")

숫자를 입력하세요.. 88

Fail

In [ ]:
## 여러 조건에 따른 분기

In [43]:
x = 70
print((x >= 80) and (x < 90))
if (x >= 80) and (x < 90):
    print("조건부 합격")

False

In [14]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("Pass")

elif (x >= 80) and (x < 90):
    print("조건부 합격")

else:
    print("Fail")

숫자를 입력하세요.. 80

조건부 합격

In [ ]:
## 중첩 조건에 따른 분기

In [15]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    if x == 100:
        print("장학금 지급")
    else:
        print("Pass")
elif (x >= 80) and (x < 90):
    print("조건부 합격")
else:
    print("Fail")

숫자를 입력하세요.. 91

Pass

In [ ]:
#반복문

In [16]:
for i in range(3):
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
- 시퀀스 자료형이 range 대신에 들어감

In [17]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

In [18]:
for i in my_list:
    print(i)

1
2
3

In [19]:
for i in my_string:
    print(i)

h
e
l
l
o

In [20]:
list(range(3))

[0, 1, 2]

In [ ]:
##중첩 for문
- 구구단 중첩 for문 만들어주세요

In [24]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

print("x, y")
for x in x_list:
    print(x)
    for y in y_list:
        print(x, y)

x, y
x1
x1 y1
x1 y2
x2
x2 y1
x2 y2

In [26]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

# idx : index 번호
for idx in range(len(names)):
    print(names[idx], scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

In [ ]:
##리스트 컴프리헨션

In [27]:
numbers = [1, 2, 3, 4, 5]
result = []
for x in numbers:
    #각 요소마다 곱하기 2
    #print(x*2)
    result.append(x*2)

print(result)
# [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [36]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    if x % 2 == 0:
        result.append(x)
result

[2, 4, 6]

In [33]:
#짝수만 출력하세요
numbers = [1, 2, 3, 4, 5, 6]
result2 = [x for x in numbers if x % 2 == 0]
result2

[2, 4, 6]

In [ ]:
## while 반복문
- 조건문이 참일 때만 반복해서 실행
- 데이터 분석: 데이터셋이 정해져 있음
    + 행과 열이 고정이 되어 있음
    + 범위가 주어진 상태

In [37]:
i = 0
total = 0

while (total < 20):
    i = i + 1
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21

In [38]:
k = 0
while True:
    k = k + 1
    print("안녕하세요")
    if (k > 3):
        print(k)
        break

안녕하세요
안녕하세요
안녕하세요
안녕하세요
4

In [ ]:
##사용자 정의 함수

In [42]:
def my_1st_func():
    print("안녕하세요")
    print("반갑습니다")

In [ ]:
# 문제 1. 
- 변수 a에 정수 10을, 변수 b에 실수 5.5를 할당하고, 두 변수를 더한 결과의 데이터 타입을 출력하세요.

In [44]:
a = 10
b = 5.5
print(a+b)

15.5

In [ ]:
# 문제 2
- 문자열 "100"과 정수 50을 더하려고 할 때 발생하는 오류를 설명하고, 이를 해결하는 방법을 보여주세요.

In [48]:
#TypeError: can only concatenate str (not "int") to str

print(float("100")+50)

150.0

In [ ]:
# 문제 3. 
- 리스트 [1, 2, 3]와 튜플 (4, 5, 6)을 더할 수 있는지 확인하고, 가능하다면 결과를 출력하세요.

In [49]:
List=[1, 2, 3]
Tuple=[4, 5, 6]

Add = List+Tuple
print(Add)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 문제 4. 
- 변수 x에 None을 할당하고, 이를 다른 데이터 타입으로 변환할 수 있는지 확인하세요.

In [54]:
x = None
str(x)

'None'

In [ ]:
# 문제 5. 
- 변수 a에 정수 3을 할당하고, 이를 부동 소수점 숫자 3.0으로 자동 변환하도록 하세요.

In [55]:
a = 3
float(a)

3.0

In [ ]:
# 문제 6. 
- 변수 s에 문자열 "Hello"를 할당하고, 이를 3번 반복한 결과의 데이터 타입을 확인하세요.

In [58]:
s = "Hello"
for i in range(3):
    print(s)

Hello
Hello
Hello

In [ ]:
# 문제 7. 
- 변수 x에 정수 7을 할당하고, 이를 문자열로 변환한 후 문자열 "3"과 더해보세요.

In [60]:
x = 7
str(x) + "3"

'73'

In [ ]:
# 문제 8. 
- 변수 a에 True, 변수 b에 False를 할당하고, 두 값을 더한 결과와 그 데이터 타입을 확인하세요.

In [62]:
a = True
b = False
print(a+b)
type(a+b)

1

int

In [ ]:
# 문제 9. 
- 변수 a에 25를 할당하고, 이 값을 0.5로 나눈 결과와 그 데이터 타입을 확인하세요.

In [64]:
a = 25
result = a/0.5
print(result)
type(result)

50.0

float

In [ ]:
# 문제 10. 
- 변수 text에 문자열 "12345"를 할당하고, 이를 정수형으로 변환한 후, 10을 더한 결과를 출력하세요.

In [65]:
text = "12345"
int(text) + 10

12355

In [ ]:
# 문제 11. 
- 리스트 [10, 20, 30, 40, 50]에서 가장 큰 값을 찾아서 출력하세요.

In [66]:
List = [10, 20, 30, 40, 50]
max(List)

50

In [ ]:
# 문제 12. 
- 리스트 [1, 2, 3, 4, 5]에서 모든 요소를 더한 결과를 출력하세요.

In [115]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))

15

In [ ]:
# 문제 13. 
- 튜플 (5, 10, 15, 20)에서 두 번째 요소를 출력하세요.

In [71]:
Tuple = (5, 10, 15, 20)
Tuple[1]

10

In [ ]:
# 문제 14. 
- 튜플 (1, 2, 3)와 (4, 5, 6)을 합쳐서 새로운 튜플을 만들고 출력하세요.

In [72]:
Tuple1 = (1, 2, 3)
Tuple2 = (4, 5, 6)
Tuple1+Tuple2

(1, 2, 3, 4, 5, 6)

In [ ]:
# 문제 15. 
- 딕셔너리 {'a': 1, 'b': 2, 'c': 3}에서 키 'b'의 값을 10으로 변경하고 출력하세요.

In [78]:
Dic={'a': 1, 'b': 2, 'c': 3}
Dic['b']=10
print(Dic)

{'a': 1, 'b': 10, 'c': 3}

In [ ]:
# 문제 16.
- 딕셔너리 {'name': 'Alice', 'age': 25, 'city': 'New York'}에서 모든 키를 출력하세요.

In [116]:
Dic = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(Dic.keys())

dict_keys(['name', 'age', 'city'])

In [ ]:
# 문제 17. 
- while 루프를 사용하여 1부터 5까지의 숫자를 출력하세요.

In [110]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
# 문제 18. 
- while 루프를 사용하여 10부터 1까지 거꾸로 숫자를 출력하세요.

In [109]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 문제 19. 
- for 루프를 사용하여 리스트 [2, 4, 6, 8, 10]의 각 요소에 2를 곱한 값을 출력하세요.

In [108]:
List = [2, 4, 6, 8, 10]

for x in List:
    print(x*2)

4
8
12
16
20

In [ ]:
# 문제 20. 
- for 루프를 사용하여 문자열 "Python"의 각 문자를 출력하세요.

In [106]:
Text: Python"
for i in Text:
    print(i)

P
y
t
h
o
n

In [ ]:
## 인자(인수)는 있으나 반환 값이 있는 함수
- 코드 문서화 필수

In [125]:
def my_calc(x, y):
    z = x * y
    return z

In [126]:
my_calc(3, 4)

12

In [ ]:
## 변수의 유효 범위
- 키워드 : 전역 변수, 지역 변수

In [128]:
a = 5           # 전역 변수

def func1():
    a = 1       # 지역 변수
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2       # 지역 변수
    print("[func2] 지역 변수 a =", a)

def func3():
    print("[func3] 지역 변수 a =", a)

def func4():
    global a # 함수 내에서 전역 변수 변경 위해 선언
    a = 4
    print("[func4] 전역 변수 a = ", a)

In [129]:
func1()
func2()
func3()

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
[func3] 지역 변수 a = 5

In [130]:
func1()
func2()
print("전역 변수 a=", a) # 전역 변수 출력

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
전역 변수 a= 5

In [131]:
func3()
func4()
func3()

[func3] 지역 변수 a = 5
[func4] 전역 변수 a =  4
[func3] 지역 변수 a = 4

In [132]:
c = 1

def add():
    # global c
    c = c + 2
    print(c)
add()

UnboundLocalError: cannot access local variable 'c' where it is not associated with a value

In [ ]:
## 가변인수 예제
- 학생의 점수를 입력받아 평균 점수를 계산하는 함수
  + 문제점 : 각 학생들마다 시험 본 과목수가 다 다름
    - A : 3과목
    - B : 2과목
    - C : 5과목

In [133]:
def calculate_average(name, *scores):
    print(type(scores))
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [134]:
calculate_average("Evan", 85, 70, 75, 100, 80)

<class 'tuple'>
Evan의 평균 점수는 82.00점입니다.

In [135]:
calculate_average("A", 90, 70)

<class 'tuple'>
A의 평균 점수는 80.00점입니다.

In [136]:
calculate_average("C")

<class 'tuple'>
C의 점수를 입력하지 않았습니다.

In [137]:
def calculate_average(name, scores):
    if len(scores) > 0:  # 리스트 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [ ]:
## 키워드 인수 확인 예제
- 학생의 이름, 과목별, 점수, 그리고 학년을 받아 학생의 성적을 출력하는 함수
    + 고정 인수 : 학생의 이름
    + 가변 인수 : 여러 개의 과목 점수
    + 키워드 인수 : 학년 정보

In [138]:
# def student_report(name, *args, **kwargs):

def student_report(name, *scores, **details):
    print(f"학생 이름: {name}")

    # 점수가 입력된 경우에만 평균을 계산
    if scores:
        average_score = sum(scores) / len(scores)
        print(f"평균 점수: {average_score:.2f}")
    else:
        print("점수를 입력하지 않았습니다.")

    # 키워드 인수로 전달된 추가 정보를 출력
    for key, value in details.items():
        print(f"{key}: {value}")

# 함수 호출 예제
student_report("Alice", 88, 92, 85, grade="2학년", school="Seoul High School")
print("\n")
student_report("Bob", 75, 80, 78, 90, grade="3학년", school="Busan High School", hobby="축구")
print("\n")
student_report("Charlie", grade="1학년")

학생 이름: Alice
평균 점수: 88.33
grade: 2학년
school: Seoul High School


학생 이름: Bob
평균 점수: 80.75
grade: 3학년
school: Busan High School
hobby: 축구


학생 이름: Charlie
점수를 입력하지 않았습니다.
grade: 1학년

In [148]:
class 책:
    title = None #속성
    author = None #속성
    pages = 0 #속성
    price = 0 #속성
    discount = 0 #속성
    
    def 읽는시간(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

#인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간()
print(출력값)

Streamlit Evan
18.7

In [ ]:
#클래스

In [146]:
#인스턴스 생성
책02호 = 책()
책02호.title = "Streamlit"
책02호.author = "Evan"
책02호.pages = 560
책02호.price = 40000
책02호.discount = 10

print(책02호.title)

Streamlit

In [149]:
print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간(reading_speed = 5)
print(출력값)

Streamlit Evan
112.0

In [ ]:
#코드 업데이트

In [168]:
class 책():
    #initialize : 초기화
    def __init__(self, title, author, pages, price, discount_rate=0):
        self.title = title #책의 제목
        self.author = author
        self.pages = pages
        self.price = price
        self.discount_rate = 0 #아무리 값을 전달해도 입력받는 값이 없음

    def reading_time(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

    def apply_discount(self):
        return self.price * (1 - self.discount_rate)

In [169]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책02호 = 책("샘플2", "Evan", 400, 20000, 0.1)
책03호 = 책("샘플3", "Evan", 500, 20000, 0.1)
책04호 = 책("샘플4", "Evan", 600, 20000, 0.1)
책01호.title, 책02호.title

('샘플', '샘플2')

In [173]:
책01호 = 책("샘플", "Evan", 300, 10000, 0.1)
책01호.reading_time()

10.0

In [174]:
책01호.apply_discount()

10000